
#{extends 'main.html' /}
#{set title:'Canvas test' /}
#{set 'moreScripts'}
 #{get 'moreScripts' /}
    <script src="@{'/p/js/modernizr.js'}"></script>
      <script src="@{'/p/js/Map.js'}"></script>
     <script src="@{'/p/js/Player.js'}"></script>
     <script src="@{'/p/js/Board.js'}"></script>
     <script src="@{'/p/js/Piece.js'}"></script>
     <script src="@{'/p/js/Position.js'}"></script>
     <script src="@{'/p/js/Game.js'}"></script>
#{/set}
<!--
    pg 18
    HTML5 defines a new element called <video> for embedding video in your web pages.
    Embedding video used to be impossible without third-party plug-ins such as Apple
    QuickTime or Adobe Flash.  The <video> element is designed to be usable without any detection scripts. You can


    specify multiple video files, and browsers that support HTML5 video will choose one
    based on what video formats they support.*
    Browsers that don’t support HTML5 video will ignore the <video> element completely
          http://camendesign.com/code/video_for_everybody
    function supports_video() {
      return !!document.createElement('video').canPlayType;
    }

    The “language” of a video is called a “codec”
     two codec:
    one works in Safari and on the
    iPhone. (This one also works in Adobe Flash, if you use a solution like Video for
    Everybody!.) The other codec is free and works in open source browsers like
    Chromium and Mozilla Firefox.
 -->

#{set 'inlineScripts'}
	#{get 'inlineScripts' /}
<script>
     $(function () {

         var gCanvasElement = document.getElementById('c1');
         gCanvasElement.width = 500;
         gCanvasElement.height = 500;
         gCanvasElement.numSq = 10;
         gDrawingContext = gCanvasElement.getContext("2d");

         var game = new Game(gCanvasElement,10);
        // console.debug(' player1 ' + game.player1.color)
         //game.drawBoard(10)
         var registerCanvas = function() {
            // gCanvasElement.width = kPixelWidth;
            // gCanvasElement.height = kPixelHeight;
            // gDrawingContext = gCanvasElement.getContext("2d");
            var el = document.getElementById('c1');
            //var gDrawingContext =  el.getContext("2d");
            el.addEventListener("click", goBoardClick, false);
        }

        var goBoardClick = function(e) {
           console.debug('board clicked' + this)
            var cell = game.board.getCursorPosition(e);
          //  console.debug('board clicked! ' + cell +  'legal move ' + checkMove(cell[0],cell[1]));
           game.move(new Position(cell[0],cell[1]))
//            var move = game.checkMove(cell[0],cell[1])
//            if(move.valid) {
//                game.drawMove(move.xPos-10,move.yPos-10, 20, 20)
//            }
        }

        registerCanvas()

         function supports_canvas_text() {
          if (!html5Support) { return false; }
          var dummy_canvas = document.createElement('canvas');
          var context = dummy_canvas.getContext('2d');
          return typeof context.fillText == 'function';
        }

        var createCanvas = function() {
            console.debug(supports_canvas_text());
            var dummyCanvas = document.createElement('canvas');
            var context = dummyCanvas.getContext('2d');
        }

//         var isKilled = function() {
//            // go through occupied pos for player add off set and if surrounded kill
//              for(var i = 0 ; i < occupiedPos.length ; i++) {
//                     if(occupiedPos[i].xOcc == jsonXY.xOcc && occupiedPos[i].yOcc == jsonXY.yOcc) {
//                            console.debug(' space is occupied')
//                            return true;
//                        }
//               }
//         }
    })
</script>
#{/set}

        <div id="container">

            <!--<div id="drawsquare">draw</div>-->
            <!--<div id="drawStuff">drawStuff</div>-->
            <!--<div id="moveLft">left</div>-->
            <!--<div id="moveRght">right</div>-->

            <div id="messageBox"></div>
            <canvas width="500" height="375" id="c1" class=""></canvas>
            <!--<canvas width="500" height="375" id="c1" class=""></canvas>-->
        </div>