
#{extends 'main.html' /}
#{set title:'Canvas test' /}
#{set 'moreScripts'}
 #{get 'moreScripts' /}
    <script src="@{'/p/js/modernizr.js'}"></script>

#{/set}
<!--
    pg 18
    HTML5 defines a new element called <video> for embedding video in your web pages.
    Embedding video used to be impossible without third-party plug-ins such as Apple
    QuickTime or Adobe Flash.  The <video> element is designed to be usable without any detection scripts. You can


    specify multiple video files, and browsers that support HTML5 video will choose one
    based on what video formats they support.*
    Browsers that don’t support HTML5 video will ignore the <video> element completely
          http://camendesign.com/code/video_for_everybody
    function supports_video() {
      return !!document.createElement('video').canPlayType;
    }

    The “language” of a video is called a “codec”
     two codec:
    one works in Safari and on the
    iPhone. (This one also works in Adobe Flash, if you use a solution like Video for
    Everybody!.) The other codec is free and works in open source browsers like
    Chromium and Mozilla Firefox.
 -->

#{set 'inlineScripts'}
	#{get 'inlineScripts' /}
<script>
     $(function () {

         var players = {p1: {color:'#550000', turn: true}, p2: {color:'#000000', turn: false}};

         var rect = { x:50,y :25,h : 100,w : 150}
         var gCanvasElement = document.getElementById('c1');
         gCanvasElement.width = 500;
         gCanvasElement.height = 500;
         gCanvasElement.numSq = 10;
         gDrawingContext = gCanvasElement.getContext("2d");

        function supports_canvas_text() {
          if (!html5Support) { return false; }
          var dummy_canvas = document.createElement('canvas');
          var context = dummy_canvas.getContext('2d');
          return typeof context.fillText == 'function';
        }

        var createCanvas = function() {
            console.debug(supports_canvas_text());
            var dummyCanvas = document.createElement('canvas');
            var context = dummyCanvas.getContext('2d');
        }



//        };
//        rect.x  = 50;
//        rect.y = 25;
//        rect.h = 100;
//        rect.w = 150;

        var drawRect = function() {
//             var x = 50;
//             var y = 25;
//             var w =150;
//             var h = 100;
             var el = document.getElementById("c1");
             var elContext =  el.getContext("2d");
             elContext.fillRect(rect.x,rect.y,rect.w,rect.h);
//            var b_canvas = document.getElementById("c1");
//             var b_context = b_canvas.getContext("2d");
//             b_context.fillRect(50, 25, 150, 100);

        }

         $('#moveRght').click(function(){
             move(rect.x+1, rect.y, rect.w, rect.h);
         })

         $('#moveLft').click(function(){
             move(rect.x-1, rect.y, rect.w, rect.h);
         })

         $('#moveUp').click(function(){
             move(rect.x, rect.y+1 , rect.w, rect.h);
         })

         $('#moveDwn').click(function(){
             move(rect.x, rect.y-1, rect.w, rect.h);
         })

         $(document).keypress(function (event) {
			if (event.keyCode === 37 /*Key.left*/) {
                move(rect.x-10, rect.y, rect.w, rect.h);
			}
            if (event.keyCode === 39 /*Key.right*/) {
                move(rect.x+10, rect.y, rect.w, rect.h);
            }
            if (event.keyCode === 40 /*Key.up*/) {
                move(rect.x, rect.y+10, rect.w, rect.h);
            }
            if (event.keyCode === 38 /*Key.dwn*/) {
                move(rect.x, rect.y-10, rect.w, rect.h);
            }
		})
         //$('#drawStuff').click(function() {
         var drawArrow= function() {
          //  var context = document.getElementById("c1");//$('#c1').get()
            //context.width = context.width
            //var elContext =  context.getContext("2d");
            gDrawingContext.beginPath();
            gDrawingContext.moveTo(60, 0);
            gDrawingContext.lineTo(60, 153);
            gDrawingContext.moveTo(60, 173);
            gDrawingContext.lineTo(60, 375);
            gDrawingContext.moveTo(65, 370);
            gDrawingContext.lineTo(60, 375);
            gDrawingContext.lineTo(55, 370);
            gDrawingContext.strokeStyle = "#f00";
            gDrawingContext.stroke();
         }

         var drawLine = function() {
             context.moveTo(60, 0);
         }

         var move = function(xparm,yparm) {
            rect.x = xparm;
            rect.y = yparm;
            var el = document.getElementById("c1");
            // setting the width resets the canvas
            el.width = el.width
            var elContext =  el.getContext("2d");
            elContext.fillRect(rect.x,rect.y,rect.w,rect.h)
            drawGrid();
         }

         var drawGrid = function() {
            var szSq = gCanvasElement.width / gCanvasElement.numSq;
            var el = document.getElementById('c1');
            var context =  el.getContext("2d");
             for (var x = 0.5; x < gCanvasElement.width; x += szSq) {
               context.moveTo(x, 0);
               context.lineTo(x, gCanvasElement.width);
             }
            for (var y = 0.5; y < gCanvasElement.height; y += szSq) {
               context.moveTo(0, y);
               context.lineTo(gCanvasElement.height, y);
             }
             context.strokeStyle = "#444444";
             context.stroke();
        }

         var checkMove = function(xPos, yPos) {

             var szSq = gCanvasElement.width / gCanvasElement.numSq;
             var xOK = false;
             var yOK = false;

             for (var x = 0.5; x < gCanvasElement.width; x += szSq) {
               if(xPos > x - 10 && xPos < x + 10)  {
                   xOK = true;
                   break;
               }
             }
             for (var y = 0.5; y < gCanvasElement.height; y += szSq) {
               if(yPos > y - 3 && yPos < y + 3)  {
                   yOK = true;
                   break;
               }
             }
             return (yOK && xOK)
         }

         var drawMove = function(x,y,w,h) {
             console.debug(' test p1 ' + players.p1.turn)
             console.debug(' test p2 ' + players.p2.turn)
             if(players.p1.turn == 'true' || players.p1.turn == true) {
                 console.debug('player 1 true')
                 console.debug(' color ' + players.p1.color)
                 gDrawingContext.fillStyle = players.p1.color;
                 players.p1.turn = false;
                 players.p2.turn = true;
             }
             else if(players.p2.turn == 'true'  || players.p2.turn == true) {
                 console.debug('player 2 true')
                 console.debug(' color ' + players.p2.color)
                 gDrawingContext.fillStyle = players.p2.color
                 players.p2.turn = false
                 players.p1.turn = true
             }

             gDrawingContext.fillRect(x,y,w,h);
         }

         var horizontalArrow = function() {
            var el = document.getElementById('c1');
            var context =  el.getContext("2d");
            context.beginPath();
            context.moveTo(0, 40);
            context.lineTo(240, 40);
            context.moveTo(260, 40);
            context.lineTo(500, 40);
            context.moveTo(495, 35);
            context.lineTo(500, 40);
            context.lineTo(495, 45);
             //vertical arrow
            context.moveTo(60, 0);
            context.lineTo(60, 153);
            context.moveTo(60, 173);
            context.lineTo(60, 375);
            context.moveTo(65, 370);
            context.lineTo(60, 375);
            context.lineTo(55, 370);
            context.strokeStyle = "#444444";
             context.stroke();
         }

         var registerCanvas = function() {
        // gCanvasElement.width = kPixelWidth;
        // gCanvasElement.height = kPixelHeight;
        // gDrawingContext = gCanvasElement.getContext("2d");
            var el = document.getElementById('c1');     //$('#c1').getContext("2d");
            var gDrawingContext =  el.getContext("2d");
            el.addEventListener("click", goBoardClick, false);
          }

         function goBoardClick(e) {
            var cell = getCursorPosition(e);
          //  console.debug('board clicked! ' + cell +  'legal move ' + checkMove(cell[0],cell[1]));
            if(checkMove(cell[0],cell[1])) {
                drawMove(cell[0]-10,cell[1]-10,20,20)
            }
         }

         //http://snipt.net/sayanriju/get-cursor-position-of-clicked-mouse-on-a-html5-canvas/
         function getCursorPosition(e) {
            var x;
            var y;
            if (e.pageX || e.pageY) {
            x = e.pageX;
            y = e.pageY;
            }
            else {
            x = e.clientX + document.body.scrollLeft +
                    document.documentElement.scrollLeft;
            y = e.clientY + document.body.scrollTop +
                    document.documentElement.scrollTop;
            }
            // Convert to coordinates relative to the canvas
            x -= gCanvasElement.offsetLeft;
            y -= gCanvasElement.offsetTop;

            return [x,y]
        }
         drawGrid(10);
       //  drawRect();
       //  horizontalArrow();
         registerCanvas();
    })
</script>
#{/set}

        <div id="container">
            canvas test
            <div id="drawsquare">draw</div>
            <div id="drawStuff">drawStuff</div>

            <div id="moveLft">left</div>
            <div id="moveRght">right</div>
            <canvas width="500" height="375" id="c1" class=""></canvas>
            <!--<canvas width="500" height="375" id="c1" class=""></canvas>-->
        </div>